@page "/checkout"
@using TachittesApp.Services
@inject CartService CartService
@inject NavigationManager NavigationManager

<div class="bg-white p-4 rounded-lg shadow-md mb-6">
    <h2 class="text-2xl font-bold text-red-600 mb-4 text-center">Finalizar Compra</h2>

    @if (CartService.Items.Any())
    {
        <p class="text-red-800 text-center">Sua compra foi iniciada. Agradecemos a preferência!</p>
    }
    else
    {
        <p class="text-gray-500 text-center">Seu carrinho está vazio. Adicione itens para continuar.</p>
    }

    <div class="flex justify-center mt-6">
        <button @onclick="NavigateToHome" class="bg-red-500 text-white py-2 px-4 rounded-lg font-bold hover:bg-red-600 transition-colors">
            Voltar ao Menu
        </button>
    </div>
</div>

@code {
    private void NavigateToHome()
    {
        NavigationManager.NavigateTo(NavigationManager.BaseUri);
    }
}